@model CompanyIntranetPortal.Core.Entities.Application

@{
    ViewData["Title"] = "ApplicationDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Application Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            State
        </dt>
        <dd class="col-sm-10">
            @Model.ApplicationState.ToString()
        </dd>
        <dt class="col-sm-2">
            Type
        </dt>
        <dd class="col-sm-10">
            @(Model.ApplicationType?.Name??"")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Applications">Back to List</a>
</div>
