@using CompanyIntranetPortal.Core.Enums
@model IEnumerable<CompanyIntranetPortal.Core.Entities.JobLeftApplication>
@using static CompanyIntranetPortal.Helpers.Helper

@{
    ViewData["Title"] = "JobLeftRequests";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="EForms">Vacation Requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="DayoffRequests">Dayoff Requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Admin" asp-action="JobLeftRequests">Job Left Requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="BankAccountChangeRequests">Bank Account Change Requests</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @item.User.FirstName @item.User.LastName
                </td>
                <td>
                    <span class="badge @(GetState(item.ApplicationState) )">
                        @item.ApplicationState
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <div class="dropdown show" style="display:inline-block">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Update State
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="JobLeftUpdateState" asp-controller="Admin" asp-route-id="@item.Id" asp-route-state="@ApplicationState.Approved">Approved</a>
                            <a class="dropdown-item" asp-action="JobLeftUpdateState" asp-controller="Admin" asp-route-id="@item.Id" asp-route-state="@ApplicationState.Rejected">Rejected</a>
                            <a class="dropdown-item" asp-action="JobLeftUpdateState" asp-controller="Admin" asp-route-id="@item.Id" asp-route-state="@ApplicationState.Pending">Pending</a>

                        </div>
                    </div>
                    @Html.ActionLink("Delete", "JobLeftRequestDelete", new {id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
