@using CompanyIntranetPortal.Core.Entities
@model IEnumerable<Post>

@{
    ViewData["Title"] = "View";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Posts</h4>

<p>
    <a asp-action="CreatePost" asp-controller="Admin">Create New Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "EditPost", new { id = item.Id}) |*@
                    @Html.ActionLink("Details", "PostDetails", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "PostDelete", new { id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
